body {
    /* padding-bottom: 100px; */
    background-color: #f4f3e7;
    overflow: auto;
}

.container {
    display: none;
}

.modals {
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    width: 100px;
    height: 50px;
    margin-bottom: 30px;
    margin-left: 50px;
}

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 125px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

.modal-content {
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: auto;
    padding: 40px;
    width: 50%;
    background-color: #f4f3e7;
    border: 5px #f7c43c solid;
    border-radius: 20px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2,
p,
li {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
    padding: 0 30px;
    list-style-type: none;
}

.modal-content h2 {
    font-family: Montserrat;
    margin-bottom: 30px;
    font-size: 40px;
}

/* TITLE BUTTON CSS */
.overview {
    display: flex;
    flex-direction: column;
    margin-top: -80px;
}

.overview h3 {
    text-align: center;
    font-family: Montserrat;
    text-decoration: underline rgb(150, 150, 150);
    color: rgb(86, 86, 86);
}

.overview-btn {
    margin: auto;
}

.modal-btn {
    margin: 40px 0 0 7px;
    height: 50px;
    width: 200px;
    background-color: none;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #872f45;
    background-color: transparent;

    color: #591B2A;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.modal-btn:hover {
    transition: all .3s;
    border: 2px solid #591B2A;
    background-color: #591B2A;
    color: #ffffff;
}

.games {
    margin-top: 5%;
    padding: 0 60px 100px 60px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px 60px;
}

.game-item {
    box-shadow: 2px 2px 8px 0px #3b3933d4;
    border-radius: 10px;
    overflow: hidden;
}

.game-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.game-link, .game-link-coming-soon {
    display: block;
    position: relative;
    height: 100%;
}


.game-link:hover .game-title {
    opacity: 1;
}
.game-link-coming-soon:hover .game-title-coming-soon {
    opacity: 1;
}

.game-link-coming-soon{
    display: block;
    opacity: 0.7;
    background-color: #000;
    height: 272px;
    cursor: not-allowed;
}

.game-link img{
    height: 100%;
    width: 100%;
}

.game-image-coming-soon{
    height: 272px;
}

.game-title-coming-soon{
    height: 272px;
    background-color: #000;
}

.game-title, .game-title-coming-soon {
    /* position: absolute;
    top: 0;
    left: 0; */
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.game-title{
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 44px;

    color: rgba(89, 27, 42, 0.69);

    text-shadow: .05em .05em 1px rgba(0, 0, 0, 0.65);
    background: rgba(246, 197, 60, 0.7);
    border: 11px solid rgba(241, 187, 35, 0.59);
    opacity: 0;
    transition: .2s;
}

.game-title-coming-soon {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5em;
    line-height: 44px;
    color: rgb(0 0 0 / 88%);
    text-shadow: .05em .05em 1px rgba(0, 0, 0, 0.65);
    background: rgb(205 200 186 / 92%);
    border: 11px solid rgb(169 166 158 / 75%);
    opacity: 0;
    transition: .2s;
}