* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f8ddc7;
    overflow: hidden;
}

/* TITLE SECTION */

.title {
    display: flex;
}

.cloud1 {
    position: relative;
    top: 20px;
    left: 80px;
}

.cloud2 {
    position: absolute;
    top: 80px;
    right: 20px;
}

.right-bg {
    width: 900px;
    margin: 100px -25px 0 0;
    position: absolute;
    right: 0;
}

/* TITLE TEXT CONTENT */
.title-text {
    position: absolute;
    top: 200px;
    left: 60px;
    /* width: 700px; */
    width: 50%;
    /* height: 350px; */
    /* padding: 20px; */
}

.title-text h3 {
    color: #b76479;
    /* margin-left: 7px; */
    font-size: 24px;
}

.title-text h1 {
    margin: 8px 0;
    color: #591B2A;
    font-size: 5rem;
    font-family: Rammetto One;
}

.title-text p {
    color: #b76479;
    width: 84%;
    margin-left: 7px;
    font-size: 15.5px;
}

/* TITLE BUTTON CSS */
.btn {
    margin: 40px 0 0 7px;
    height: 50px;
    width: 240px;
    background-color: none;
    border-radius: 50px;
    cursor: pointer;
    border: 2px solid #872f45;
    background-color: transparent;

    color: #591B2A;
    font-size: 1.5em;
    font-weight: 600;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.6);
}

.btn:hover {
    transition: all .3s;
    border: 2px solid #591B2A;
    background-color: #591B2A;
    color: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F6C53C;
    /* height: 80px; */
    padding: 10px 60px;
    color: #591B2A;
}

.nav-items a{
    text-decoration: none;
    color: inherit;
}

.nav-items {
    font-family: 'Lobster', cursive;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    width: 21%;
    font-size: 20px;
    align-items: center;
}

.nav-item{
    transition: all .2s;
}

.nav-item:hover, .socials:hover{
    color: #872f45;
}

.nav-item-active:hover{
    color: #F6C53C;
}

.nav-item-active{
    background-color: #591B2A;
    color: #F6C53C;
    padding: 10px;
    border-radius: 30px;
}

.social-links {
    width: 12%;
    font-size: 22px;
}

.socials{
    transition: all .2s;
}